<div id="post">
  <a href="/forum/{{this.id}}">
    <div class="dream-card">
      <h1 class="dream-card-title">{{this.title}}</h1>
      <div class="dream-card-divider"></div>
      <p class="dream-card-details">Posted by: {{this.author}} on {{this.createdAt}}</p>
      <p class="dream-card-content">{{this.content}}</p>
    </div>
  </a>
</div>
